<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/telaprincipal.css" />
    <title>Home</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a th:href="@{/listasProdutos}">Produtos</a></li>
        <li><a th:href="@{/pedidos}">Pedidos</a></li>
        <li><a th:href="@{/sair}">Logout</a></li>
      </ul>
    </nav>
  </body>
</html>
