<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/cadastro.css" />
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
    />
    <title>Adicionar endereço</title>
  </head>
  <style>
    @media only screen and (max-width: 770px) {
      #container {
        height: 70vh;
      }
    }
    @media only screen and (min-width: 1024px) {
      #container {
        height: 700px;
      }
    }
  </style>
  <body>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3 text-center mb-2">
          </div>
          
          <div class="col-md-6 offset-md-3">
            <div
            class="border container d-flex flex-column align-items-center justify-content-evenly bg-light rounded text-center"
            id="container"
            >
            <h2 class="text-bg-primary">Adicione outro endereço!</h2>
              <form
                th:object="${endereco}"
                action="/cliente/adicionar-endereco"
                method="post"
                id="form"
              >
              <input type="hidden" name="clienteId" th:value="${clienteId}" />

                <div class="row">
                  <div class="col-md-6">
                    <label class="form-label" for="cep">Cep</label>
                    <input
                      class="inputs required form-control"
                      type="number"
                      name="cep"
                      id="cep"
                      placeholder="Somente numeros"
                    />
                    <span class="span-required">Cep não é valido!!!</span>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label" for="Loradouro">Logradouro</label>
                    <input
                      class="form-control"
                      type="text"
                      name="logradouro"
                      id="logradouro"
                      placeholder="logradouro"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <label class="form-label" for="bairro">Bairro</label>
                    <input
                      class="form-control"
                      type="text"
                      name="bairro"
                      id="bairro"
                      placeholder="bairro"
                    />
                  </div>
                  <div class="col-md-6">
                    <label class="form-label" for="cidade">Cidade</label>
                    <input
                      class="form-control"
                      type="text"
                      name="cidade"
                      id="cidade"
                      placeholder="cidade"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <label class="form-label" for="estado">Estado</label>
                    <input
                      class="form-control"
                      type="text"
                      name="estado"
                      id="estado"
                      placeholder="estado"
                    />
                  </div>
                  <div class="col-md-6">
                    <label class="form-label" for="numero">Numero</label>
                    <input
                      class="inputs required form-control"
                      type="number"
                      name="numero"
                      id="numero"
                      placeholder="numero"
                      oninput="houseNumberValidation()"
                    />
                    <span class="span-required"
                      >Você precisa digitar um numero valido</span
                    >
                  </div>
                  <div class="col-md-6">
                    <label class="form-label" for="endereco">Endereço</label>
                    <input
                      class="inputs required form-control"
                      type="text"
                      name="endereco"
                      id="endereco"
                      placeholder="endereço"
                    />
                  </div>
                  <div class="col-md-6">
                    <label class="form-label" for="Tipo endereço"
                      >Tipo endereço</label
                    >
                    <select
                      class="form-select"
                      name="tipoEndereco"
                      id="tipoEndereco"
                      required
                    >
                      <option value="entrega">Entrega</option>
                      <option value="Faturamento">Faturamento</option>
                    </select>
                  </div>
                  <div class="col-md-6 d-none">
                    <label class="form-label" for="">Status</label>
                    <select
                      class="form-select"
                      name="statusEndereco"
                      id="statusEndereco"
                    >
                      <option value="true" selected>ATIVO</option>
                      <option value="false">INATIVO</option>
                    </select>
                  </div>
                </div>

                <button class="btn btn-success mt-3 w-100" type="submit">
                  Enviar
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="/Endereco.js"></script>
  </body>
</html>
