<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/cadastro.css" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <title>Cadastro de Clientes</title>
  </head>
  <body>
    <main>
      <div class="container">
        <div class="row">
          <div
            class="col h2 text-white d-flex align-items-center justify-content-center"
          >
            <p>Cadastre-se em nossa loja!</p>
          </div>
          
          <div class="col">
            <div
              class="border conatiner d-flex flex-column align-items-center justify-content-evenly bg-light rounded text-center"
              style="height: 600px; width: 600px"
            >
          
          <form  th:object="${clientDto}"  action="/cliente/catalogo" method="post" id="form">
                <div class="row">
                  <div>
                    <label for="" class="form-label ">nome</label>
                    <input
                      type="text"
                      class="form-control inputs required"
                      name="nome"
                      id="nome"
                      placeholder="nome de usuario"
                      onchange="verificaNome()"
                    />
                      <span th:if="${#fields.hasErrors('nome')}"  class="text-danger"></span>
                  </div>
                </div>
                <div class="mb-2">
                  <label for="dataNascimento">data de nascimento</label>
                  <input class="form-control" type="date" name="dataAniversario" id="dataAniversario">
                </div>

                 

                <div class="mb-2">
                  <label for="email" class="form-label">Email</label>
                  <input
                    type="email"
                    class="form-control inputs required"
                    name="email"
                    id="email"
                    aria-describedby="helpId"
                    placeholder="Digite seu email"
                    oninput="nameValidate()"
                  />
                  <span class="span-required"
                    >email invalido</span
                  >
                  <span th:if="${#fields.hasErrors('email')}"  class="text-danger"></span>
                </div>
                <div class="mb-2">
                  <label for="cpf" class="form-label">CPF</label>
                  <input type="text" class="form-control inputs required" name="cpf" id="cpf" aria-describedby="cpf" placeholder="cpf">
                  <!-- <div th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}" class="error-message"></div> -->
                </div>

                <div class="mb-2">
                  <label for="password" class="form-label">Senha</label>
                  
                  <input
                    type="password"
                    class="form-control inputs required"
                    name="senha"
                    id="senha"
                    aria-describedby="helpId"
                    placeholder="Senha"
                    oninput="validateMainPassword()"
                  />
                  <span class="span-required"
                    >Senha deve ter no mínimo 6 caracteres</span
                  >
                </div>

                <div class="mb-2">
                  <label for="confirmPassword" class="form-label"
                    >Digite Novamente a senha</label
                  >
                  <input
                    type="password"
                    class="form-control inputs required"
                    name="confirmPassword"
                    id="newPassword"
                    aria-describedby="helpId"
                    placeholder="Nova Senha"
                    oninput="comparePassword()"
                  />
                  <span class="span-required">As senhas não conferem</span>
                  <span th:if="${passwordMismatch}" class="text-danger">As senhas não coincidem</span>


                  <div class="mb-2 d-none">
                    <label class="form-label " for="">Status</label>
                    <select class="form-select" name="StatusUsuario" id="StatusUsuario">
                    <option value="true" selected>ATIVO</option>
                    <option value="false">INATIVO</option>
                    </select>
                  </div>
                  
                  <div class="mb-2 d-none">
                    
                      <label class="form-label" for="">Tipo Usuario</label>
                      <select class="form-select" name="role" id="role">
                      <option value="1">ADMIN</option>
                      <option value="2">Estoquista</option>
                      <option value="3" selected>Cliente</option>
                    </select>
                  </div>
                  <div class="mb-2">
                    <label class="form-label" for="">genero</label>
                      <select class="form-select" name="genero" id="genero">
                        <option selected disabled>Selecione seu genero</option>
                      <option value="masculino">masculino</option>
                      <option value="feminino">feminino</option>
                      
                    </select>
                  </div>
                </div>
                <button class="btn btn-primary mt-3  w-100"type="submit">Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <script src="/Cadastro.js"></script>
  </body>
</html>
