<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/cadastro.css" />
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
    />
    <title>Cadastro de Clientes</title>
  </head>
  <style>
    @media only screen and (max-width: 770px) {
      #container {
        height: 70vh;
      }
    }
    @media only screen and (min-width: 1024px) {
      #container {
        height: 700px;
      }
    }
  </style>
  <body>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div
              class="border container d-flex flex-column align-items-center justify-content-evenly bg-light rounded text-center"
              style="height: 100vh"
              id="container"
            >
              <form
                th:object="${clientDto}"
                action="/cliente/catalogo"
                method="post"
                id="form"
              >
                <h3>Cadastre-se em nossa loja</h3>
                <div class="row">
                  <div class="col-md-6">
                    <label for="nome" class="form-label">Nome</label>
                    <input
                      type="text"
                      class="form-control inputs required"
                      name="nome" 
                      id="nome"
                      placeholder="Nome de usuario"
                      oninput="nameValidate()"
                    />
                    <span class="span-required">Nome invalido</span>
                    <span class="text-danger" th:if="${nameMismatch}"
                      >Ja existe um cadastro com este e-mail!</span
                    >
                  </div>
                  <div class="col-md-6 mt-2">
                    <label for="dataAniversario">Data de nascimento</label>
                    <input
                      class="form-control inputs required"
                      type="date"
                      name="dataAniversario"
                      id="dataAniversario"
                      oninput="dateValidation()"
                      th:field="*{dataAniversario}"
                      th:errorclass="is-invalid"
                    />
                    <span
                      class="invalid-feedback"
                      th:errors="*{dataAniversario}"
                    ></span>
                    <span class="is-invalid" th:if="${dateInFuture}"
                      >Você infelizmente não pode nascer no futuro!!!</span
                    >

                    <span class="span-required">Data não deve ser vazia.</span>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <label for="email" class="form-label">Email</label>
                    <input
                      type="email"
                      class="form-control inputs required"
                      name="email"
                      id="email"
                      aria-describedby="helpId"
                      placeholder="Digite seu email"
                      oninput="emailRegexValidation()"
                      th:field="*{email}"
                      th:errorclass="is-invalid"
                    />
                    <span class="span-required">Email invalido</span>
                    <span class="invalid-feedback" th:errors="*{email}"></span>

                    <span class="text-danger" th:if="${emailMismatch}"
                      >Ja existe um cadastro com este e-mail!</span
                    >
                  </div>
                  <div class="col-md-6">
                    <label for="cpf" class="form-label">CPF</label>
                    <input
                      type="text"
                      class="form-control inputs required"
                      name="cpf"
                      id="cpf"
                      aria-describedby="cpf"
                      placeholder="cpf"
                      oninput="cpfValidator()"
                      th:field="*{cpf}"
                      th:errorclass="is-invalid"
                    />
                    <span class="span-required">CPF invalido</span>
                    <span class="invalid-feedback" th:errors="*{cpf}"></span>

                    <span class="text-danger" th:if="${cpfMismatch}"
                      >Ja existe um cadastro com este CPF!</span
                    >
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <label for="senha" class="form-label">Senha</label>
                    <input
                      type="password"
                      class="form-control inputs required"
                      name="senha"
                      id="senha"
                      aria-describedby="helpId"
                      placeholder="Senha"
                      oninput="validateMainPassword()"
                    />
                    <span class="span-required"
                      >Senha deve ter no mínimo seis(6) caracteres</span
                    >
                  </div>
                  <div class="col-md-6">
                    <label for="newPassword" class="form-label"
                      >Digite Novamente a senha</label
                    >
                    <input
                      type="password"
                      class="form-control inputs required"
                      name="confirmPassword"
                      id="newPassword"
                      aria-describedby="helpId"
                      placeholder="Nova Senha"
                      oninput="comparePassword()"
                    />
                    <span class="span-required">As senhas não conferem</span>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <label class="form-label" for="genero">Genero</label>
                    <select
                      class="form-select"
                      name="genero"
                      id="genero"
                      required
                    >
                      <option selected disabled>Selecione seu genero</option>
                      <option value="masculino">Masculino</option>
                      <option value="feminino">Feminino</option>
                    </select>
                  </div>

                  <div class="col-md-6">
                    <label class="form-label" for="cep">Cep</label>
                    <input
                      class="inputs required form-control"
                      type="text"
                      name="cep"
                      id="cep"
                      placeholder="Somente numeros"
                    />
                    <span class="span-required">Cep não é valido!!!</span>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <label class="form-label" for="Loradouro">Logradouro</label>
                    <input
                      class="form-control"
                      type="text"
                      name="logradouro"
                      id="logradouro"
                      placeholder="Logradouro"
                    />
                  </div>
                  <div class="col-md-6">
                    <label class="form-label" for="bairro">Bairro</label>
                    <input
                      class="form-control"
                      type="text"
                      name="bairro"
                      id="bairro"
                      placeholder="Bairro"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <label class="form-label" for="cidade">Cidade</label>
                    <input
                      class="form-control"
                      type="text"
                      name="cidade"
                      id="cidade"
                      placeholder="Cidade"
                    />
                  </div>
                  <div class="col-md-6">
                    <label class="form-label" for="estado">Estado</label>
                    <input
                      class="form-control"
                      type="text"
                      name="estado"
                      id="estado"
                      placeholder="Estado"
                    />
                  </div>
                  <div class="col-md-6">
                    <label class="form-label" for="numero">Numero</label>
                    <input
                      class="inputs required form-control"
                      type="number"
                      name="numero"
                      id="numero"
                      placeholder="numero"
                      oninput="houseNumberValidation()"
                    />
                    <span class="span-required"
                      >Você precisa digitar um numero valido</span
                    >
                  </div>
                  <div class="col-md-6">
                    <label class="form-label" for="endereco">Endereço</label>
                    <input
                      class="inputs required form-control"
                      type="text"
                      name="endereco"
                      id="endereco"
                      placeholder="Endereço"
                    />
                  </div>
                  <div class="col-md-6">
                    <label class="form-label" for="complemento"
                      >Complemento</label
                    >
                    <input
                      class="inputs required form-control"
                      type="text"
                      name="complemento"
                      id="complemento"
                      placeholder="EX: casa"
                    />
                  </div>
                  <div class="col-md-6 mt-4">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        name="enderecoFaturamento"
                        value="true"
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        Considerar o mesmo endereço para o faturamento?
                      </label>
                    </div>
                    <input type="hidden" name="enderecoFaturamento" value="false" />

                  </div>
                </div>

                <div class="col-md-6 d-none">
                  <label class="form-label" for="">Status</label>
                  <select
                    class="form-select"
                    name="statusEndereco"
                    id="statusEndereco"
                  >
                    <option value="true" selected>ATIVO</option>
                    <option value="false">INATIVO</option>
                  </select>
                </div>

                <button class="btn btn-primary mt-3 w-100" type="submit">
                  Cadastrar
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="/Cadastro.js"></script>
  </body>
</html>
