<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Seu cabeçalho aqui -->
</head>
<body>
    <p>Esta página será redirecionada em 3 segundos...</p>

    <script>
        // Função para redirecionar após 5 segundos
        function redirecionarApos3Segundos() {
            setTimeout(function () {
                window.location.href = '/cliente/catalogo'; // Redirecionamento para a página desejada
            }, 3000); 
        }

        // Chame a função quando a página carregar
        window.onload = redirecionarApos3Segundos;
    </script>
</body>
</html>
