<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <link rel="stylesheet" href="/edicaoCliente.css" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
    />
    <title>edição</title>
  </head>
  <style>
    @media only screen and (max-width: 770px) {
      #container {
        height: 70vh;
      }
    }
    @media only screen and (min-width: 1024px) {
      #container {
        margin-top: 20%;
        height: 500px;
      }
    }
  </style>
  <body>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div
              class="border container d-flex flex-column align-items-center justify-content-evenly bg-light rounded text-center"
              id="container"
            >
              <form
                th:object="${cliente}"
                action="/cliente/catalogo"
                method="post"
                id="form"
              >
                <input type="hidden" th:field="*{id}" />
                <div class="row">
                  <div class="col-md-6">
                    <label for="nome" class="form-label">nome</label>
                    <input
                      type="text"
                      class="form-control inputs required"
                      name="nome"
                      id="nome"
                      placeholder="nome de usuario"
                      th:field="*{nome}"
                      oninput="nameValidate()"
                    />
                    <span class="span-required">nome invalido</span>
                  </div>
                  <div class="col-md-6 mt-2">
                    <label class="form-label" for="dataAniversario">data de nascimento</label>
                    <input
                      class="form-control inputs required"
                      type="date"
                      name="dataAniversario"
                      id="dataAniversario"
                      th:field="*{dataAniversario}"
                      oninput="dateValidation()"
                    />
                    <span  th:errors="*{dataAniversario}"></span>
                    <span class="span-required">data não deve ser vazia</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label for="email" class="form-label">Email</label>
                    <input
                      type="email"
                      class="form-control inputs required"
                      name="email"
                      id="email"
                      aria-describedby="helpId"
                      placeholder="Digite seu email"
                      th:field="*{email}"
                      oninput="emailRegexValidation()"
                      disabled
                    />
                    <span class="span-required">email invalido</span>
                    <span class="text-danger" th:if="${emailMismatch}"
                      >ja existe um cadastro com este e-mail!</span
                    >
                  </div>
                  <div class="col-md-6">
                    <label for="cpf" class="form-label">CPF</label>
                    <input
                      type="text"
                      class="form-control inputs required"
                      name="cpf"
                      id="cpf"
                      aria-describedby="cpf"
                      placeholder="cpf"
                      oninput="cpfValidator()"
                      th:field="*{cpf}"
                      disabled
                    />
                    <span class="span-required">cpf invalido</span>
                    <span class="text-danger" th:if="${cpfMismatch}"
                      >ja existe um cadastro com este e-mail!</span
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label for="senha" class="form-label">Senha</label>
                    <input
                      type="password"
                      class="form-control inputs required"
                      name="senha"
                      id="senha"
                      aria-describedby="helpId"
                      placeholder="Senha"
                      oninput="validateMainPassword()"
                    />
                    <span class="span-required"
                      >Senha deve ter no mínimo 6 caracteres</span
                    >
                  </div>
                  <div class="col-md-6">
                    <label for="newPassword" class="form-label"
                      >Digite Novamente a senha</label
                    >
                    <input
                      type="password"
                      class="form-control inputs required"
                      name="confirmPassword"
                      id="newPassword"
                      aria-describedby="helpId"
                      placeholder="Nova Senha"
                      oninput="comparePassword()"
                    />
                    <span class="span-required">As senhas não conferem</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label class="form-label" for="genero">genero</label>
                    <select
                      class="form-select"
                      name="genero"
                      id="genero"
                      required
                    >
                      <option selected disabled>Selecione seu genero</option>
                      <option value="masculino">masculino</option>
                      <option value="feminino">feminino</option>
                    </select>
                  </div>
                </div>

                <button class="btn btn-primary mt-3 w-100" type="submit">
                  Enviar
                </button>
              </form>
            </div>
          </div>
          <div class="col-md-6 mt-auto mb-auto">
            <div class="bg-light rounded p-4">
              <h2 class="text-center">Endereços associados</h2>
              <table class="table align-middle">
                <thead>
                  <tr>
                    <th>Logradouro</th>
                    <th>Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="endereco : ${cliente.enderecos}">
                    <td th:text="${endereco.logradouro}"></td>
                    <td>
                      <!-- <a
                        th:href="@{'/cliente/adicionar-endereco/' + ${endereco.id}}"
                        class="btn btn-success ms-3"
                        >adicionar</a
                      > -->
                      <a
                        th:href="@{'/cliente/excluir-endereco/' + ${endereco.id}}"
                        class="btn btn-danger ms-3"
                        >Excluir</a
                      >
                      <a
                        th:href="@{'/definir-padrao/' + ${endereco.id}}"
                        class="btn btn-primary ms-3"
                        >Definir Padrão</a
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
              <a
                th:href="@{'/cliente/adicionar-endereco/' + ${cliente.id}}"
                class="btn btn-success ms-3"
                >Adicionar Endereço</a
              >
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="/EditarCliente.js"></script>
  </body>
</html>
