<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <title>Meus Pedidos</title>
  </head>
  <body>
    <div class="container mt-5">
      <h2>Meus Pedidos</h2>
      <br />

      <span class="h2 mt-2" th:text="${nomeCliente}"></span>
      <table class="table">
        <thead>
          <tr class="text-center">
            <th>ID do Pedido</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Total</th>
            <th>Frete</th>
            <th>Forma de Pagamento</th>
            <th>Data do Pedido</th>
            <th>Endereço</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr th:each="pedido, status : ${pedidosRealizados}">
            <td class="py-2" th:text="${pedido.codigoPedido}"></td>
            <td class="py-2" th:text="${pedido.nome}"></td>
            <td class="py-2" th:text="${pedido.quantidade}"></td>
            <td class="py-2" th:text="${pedido.preco}"></td>
            <td class="py-2" th:text="${pedido.frete}"></td>
            <td
              class="py-2"
              th:text="${pedido.tipoPagamento != null ? pedido.tipoPagamento : ''}"
            ></td>
            <td
              th:text="${#dates.format(pedido.dataPedido, 'dd/MM/yyyy')}"
            ></td>
            <td>
              <span
                th:if="${pedido.endereco != null}"
                th:text="${pedido.endereco.endereco}"
              ></span>
              <span th:unless="${pedido.endereco != null}">&nbsp;</span>
            </td>
            <td class="text-info" th:text="${pedido.StatusPagamento}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
