<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pedido Concluído</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center text-success">Compra concluida!!!</h1>
      <h3 class="text-center">
        Parabéns! <br />
        Seu pedido <span th:text="${codigoPedido}"></span> foi concluído com
        sucesso.
      </h3>
      <div class="d-flex justify-content-center mt-4">
        <a
          th:href="@{/cliente/meusPedidos/{id}(id=${cliente.id})}"
          class="btn btn-primary me-3"
          >Meus Pedidos</a
        >
        <a th:href="@{/cliente/logado}" class="btn btn-outline-warning"
          >Voltar para o Catálogo</a
        >
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
      integrity="sha384-eMNCOe7tC1doHpGoJtKh7z7lGz7fuP4F8nfdFvAOA6Gg/z6Y5J6XqqyGXYM2ntX6"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kD4Ck5BdPtF+to8xMp9Mvc9CJjGZtLdfdM4Wt7v/Z5T2lTp0k77Fw"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
