<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>ERRO</title>
</head>
<body>
    <div class="container vh-100 d-flex flex-column justify-content-center align-items-center">
        <h1>Você deve ter uma seção valida para entrar!!!</h1>
        <div class="mt-4">
            <a class="btn btn-primary " th:href="@{/cliente/login}">LOGIN</a>
        </div>
    </div>
</body>

</html>
