<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <title>Cadastrar Produto</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <style>
      #preview {
        max-width: 50px;
        max-height: 50px;
        margin-right: 10px;
      }
      body {
        background-color: #3d3d3d;
      }

      button > a {
        text-decoration: none;
        color: #f0f0f0;
      }

      label {
        color: #f0f0f0;
      }
    </style>
  </head>

  <body>
    <header>
      <!-- place navbar here -->
      <div
        class="container d-flex justify-content-center align-items-center mb-5"
      >
        <h1>Editar Produtos</h1>
      </div>
    </header>
    <main>
      <div
        class="container d-flex justify-content-center align-items-center"
        style="width: 25%"
      >
        <form
          th:object="${estoque}"
          th:action="@{/produto/salvar}"
          method="post"
          enctype="multipart/form-data"
        >
          <input type="hidden" th:field="*{id}" />
          <label for="nome">Nome do produto:</label>

          <div class="mb-3">
            <input
              type="text"
              name="nome"
              id="titulo"
              size="20px"
              placeholder=" Nome do produto"
              maxlength="35"
              th:field="*{nome}"
            />
          </div>

          <label for="aaa">Breve descrição:</label>
          <div class="mb-3">
            <input
              type="text"
              name="descricao"
              id="titulo"
              size="20px"
              placeholder="Breve Descrição"
              maxlength="200"
              th:field="*{descricao}"
            />
          </div>
          <label for="descrição longa">Descrição longa:</label>

          <div class="mb-3">
            <label for="" class="form-label"></label>
            <textarea
              class="form-control"
              name="descricaoDetalhada"
              id=""
              rows="3"
              th:field="*{descricaoDetalhada}"
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Imagem Atual:</label>
            <img
              th:src="@{/imagem/{id}(id=${estoque.id})}"
              alt="Imagem atual do produto"
              id="imagemAtual"
              width="300px"
              height="300px"
            />
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Imagem:</label>
            <input
              th:src="@{/imagem/{id}(id=${estoque.id})}"
              type="file"
              class="form-control"
              name="fileProduto"
              id="imagem"
              placeholder="Descricao detalhada"
              aria-describedby="fileHelpId"
            />
            <div id="fileHelpId" class="form-text text-white">
              Informe a imagem do produto.
            </div>
            <span th:if="${imgError}" class="text-danger"
              >Você deve escolher uma imagem!!!</span
            >
          </div>

          <label for="preco">Preço do produto:</label>
          <div class="mb-3">
            <input
              type="number"
              name="preco"
              id="titulo"
              size="20px"
              placeholder="R$ 00.00"
              maxlength="1000000"
              th:field="*{preco}"
            />
            <span th:if="${precoError}" class="text-danger"
              >Preço invalido!!!</span
            >
          </div>
          <label for="quantidadeEstoque">Quantidade do produto:</label>
          <div class="mb-3">
            <input
              type="number"
              name="quantidadeEstoque"
              id="qtdeProduto"
              size="20px"
              placeholder="10"
              maxlength="2000"
              th:field="*{quantidadeEstoque}"
            />
            <span th:if="${estoqueError}" class="text-danger"
              >Estoque deve ser maior ou igual a um(1)!!!</span
            >
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Avaliação</label>
            <select
              class="form-select form-select-lg"
              name="avaliacao"
              id="avaliacao"
              th:field="*{avaliacao}"
            >
              <option value="0">0 Estrela</option>
              <option value="0.5">0.5 Estrela</option>
              <option value="1">1 Estrela</option>
              <option value="1.5">1.5 Estrelas</option>
              <option value="2">2 Estrelas</option>
              <option value="2.5">2.5 Estrelas</option>
              <option value="3">3 Estrelas</option>
              <option value="3.5">3.5 Estrelas</option>
              <option value="4">4 Estrelas</option>
              <option value="4.5">4.5 Estrelas</option>
              <option value="5">5 Estrelas</option>
            </select>
          </div>
          <button type="submit" class="btn btn-success">Enviar</button>
          <button type="submit" class="btn btn-warning">
            <a th:href="@{/}">Voltar</a>
          </button>
        </form>
        <div id="preview"></div>
      </div>
    </main>
    <footer>
      <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->

    <script>
      const input = document.getElementById("imagem");
      const preview = document.getElementById("preview");

      input.addEventListener("change", () => {
        preview.innerHTML = ""; // Limpa as pré-visualizações existentes

        for (const file of input.files) {
          const image = document.createElement("img");
          image.src = URL.createObjectURL(file);
          image.className = "image-preview";
          preview.appendChild(image);
        }
      });
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
