<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <!-- place navbar here -->
      <ul class="nav justify-content-center bg-light">
        <li class="nav-item">
          <a class="nav-link active" href="#" aria-current="page">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">login</a>
        </li>
      </ul>
      <div class="text-center text-white"><h1>nome da loja</h1></div>
    </header>
    <main>
      <div class="container">
        <div class="row">
          <div
            class="col h2 text-white d-flex align-items-center justify-content-center"
          >
            <p>Cadastre-se em nossa loja!</p>
          </div>
          <div class="col">
            <div
              class="border conatiner d-flex flex-column align-items-center justify-content-evenly bg-light rounded"
              style="height: 600px; width: 400px"
            >
              <form action="#">
                <div class="mb-3">
                  <label for="" class="form-label">nome</label>
                  <input
                    type="text"
                    class="form-control"
                    name=""
                    id=""
                    aria-describedby="helpId"
                    placeholder="nome de usuario"
                  />
                  <small id="helpId" class="form-text text-dark"
                    >Nome de Usuario</small
                  >
                </div>
                <div class="mb-3">
                  <label for="" class="form-label">Email</label>
                  <input
                    type="text"
                    class="form-control"
                    name=""
                    id=""
                    aria-describedby="helpId"
                    placeholder="Email"
                  />
                  <small id="helpId" class="form-text text-dark"
                    >informe seu email</small
                  >
                </div>
                <div class="mb-3">
                  <label for="" class="form-label">cpf</label>
                  <input
                    type="text"
                    class="form-control"
                    name=""
                    id=""
                    aria-describedby="helpId"
                    placeholder="cpf"
                  />
                  <small id="helpId" class="form-text text-dark"
                    >Informe o cpf</small
                  >
                </div>
                <div class="mb-3">
                  <label for="" class="form-label">Password</label>
                  <input
                    type="text"
                    class="form-control"
                    name=""
                    id=""
                    aria-describedby="helpId"
                    placeholder="senha"
                  />
                  <small id="helpId" class="form-text text-dark"
                    >informe sua senha</small
                  >
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">
                    enviar dados
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <!-- <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script> -->
  </body>
</html>
