<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ListaUsuario.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Lista Usuario</title>
</head>
<body>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        <a th:href="@{/cadastro}" class="btn btn-outline-success my-2 my-sm-0">Novo</a>
    </body>
      </form>

      <table id="tabela" class="table">

        <thead>
            <tr>
                <th scope="col">Nome do Cliente</th>
                <th scope="col">Email do Cliente</th>
                <th scope="col">Status</th>
                <th scope="col">Alterar</th>
                <th scope="col">Habilitado / Desabilitado</th>
            </tr>
        </thead>
</body>
</html>