<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/estilo2.css">
    <title>Document</title>
</head>
<body>
    <h1>Selecionar e Exibir Imagens</h1>
    <form action="#" method="post" enctype="multipart/form-data">
        <input type="file" name="images[]" id="imageInput" multiple accept="image/*">
        <input type="submit" value="Enviar Imagens">
    </form>

    <div id="thumbnails">
    </div>

    <h2>Selecionar Imagem Principal</h2>
    <select id="mainImageSelect">
    </select>

    <script>
        function displayThumbnails(input) {
            var thumbnailsDiv = document.getElementById("thumbnails");
            var mainImageSelect = document.getElementById("mainImageSelect");

            thumbnailsDiv.innerHTML = ""; 
            mainImageSelect.innerHTML = ""; 

            for (var i = 0; i < input.files.length; i++) {
                var file = input.files[i];
                if (file.type.match('image.*')) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        var thumbnail = document.createElement("img");
                        thumbnail.classList.add("thumbnail");
                        thumbnail.src = e.target.result;
                        thumbnailsDiv.appendChild(thumbnail);

                        var option = document.createElement("option");
                        option.text = "Imagem " + (i + 1);
                        mainImageSelect.appendChild(option);
                    };

                    reader.readAsDataURL(file);
                }
            }
        }

        document.getElementById("imageInput").addEventListener("change", function () {
            displayThumbnails(this);
        });

        document.getElementById("mainImageSelect").addEventListener("change", function () {
            var thumbnails = document.querySelectorAll(".thumbnail");
            var selectedIndex = this.selectedIndex;

            thumbnails.forEach(function (thumbnail, index) {
                if (index === selectedIndex) {
                    thumbnail.classList.add("selected");
                } else {
                    thumbnail.classList.remove("selected");
                }
            });
        });
    </script>
</body>
</html>